body {
    background-color: #222;
    color: #fff;
}

.btn-custom-white {
    color: #7A7A7A;
    background-color: #E4E4E4;
    width: 100%;
    margin-top: 10px;
}

.btn-custom-white:hover, .btn-custom-white:focus {
    background-color: #daff3e ;
    color: #111111;
}

.help-link {
    color: #fff;
    text-decoration: underline;
}

.start-page {
    height: 100vh;
}

.steps-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;

}

.step {
    background-color: #fff;
    height: 7px;
    max-width: 205px;
    border-radius: 5px;
}

.step.active {
    background-color: #DAFF3E;
}

.reg-heading {
    font-size: 50px;
    color: #fff;
    margin: 32px auto;
    text-align: center;
}

.reg-form-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    margin: 15px 0;
    background-color: #111;
}

.reg-form input:focus {
    outline: none;
}

.reg-form input::placeholder {
    color: #c3c3c3;
}

.reg-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.reg-form .form {
    width: 550px;
}

.error-input {
    margin: -13px 0 0;
    color: #E90000;
    font-size: 12px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.list-sizes {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 0;
    gap: 30px;

}

.list-size-item {
    list-style-type: none;
}

.form-radio-btn {
    display: inline-block;
}
.form-radio-btn input[type=radio] {
    display: none;
}
.form-radio-btn label {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #fff;
    color: #fff;
    width: 100px;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    user-select: none;
    text-align: center;

    transition: all 0.2s;
}

/* Checked */
.form-radio-btn input[type=radio]:checked + label {
    background: #DAFF3E;
    color: #111;
    border: 1px solid #daff3e;
}

/* Hover */
.form-radio-btn label:hover {
    background-color: #DAFF3E;
    color: #111;
    border: 1px solid #daff3e;
}

/* Disabled */
.form-radio-btn input[type=radio]:disabled + label {
    background: #efefef;
    color: #666;
}

.btn-back {
    color: #fff;
}

.team-heading {
    font-size: 24px;
    color: #fff;
    margin: 16px 0;
}





.activity-selector {
    position: relative;
    width: 300px;
    min-height: 50px;
}

.selected-activities-container {
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
    display: flex;
    /*flex-wrap: wrap;*/
    min-height: 50px; /* Чтобы всегда была видна рамка даже без выбранных элементов */
    justify-content: space-between;
    align-items: center;

}

.activity-container {
    display: flex;
    flex-wrap: wrap;
}

.activity-container span {
    user-select: none;
    color: rgba(255,255,255,.5);
}

.selected-activity {
    background-color: #daff3e;
    padding: 3px 5px;
    margin: 2px;
    border-radius: 3px;
    color: #111;
    font-size: 12px;
    user-select: none;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #fff;
    border-top: none;
    background-color: #111;
    z-index: 10; /* Убедитесь, что список поверх других элементов */
    overflow: auto;
    max-height: 150px;
}

.dropdown-item {
    padding: 5px;
    cursor: pointer;
    background-color: #222222;
    color: #fff;
}

.dropdown-item:hover {
    background-color: #daff3e;
    color: #111111;
}

.dropdown-item.selected {
    /*background-color: #daff3e;*/
    /*color: #111;*/
    display: none;
}

.dropdown-item.active {
    background-color: #daff3e;
    color: #111;
}

.role-selector {
    position: relative;
    width: 100%;
    min-height: 50px;
}

.role-selector-container {
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
    display: flex;
    min-height: 50px;
    justify-content: space-between;
    align-items: center;
}


/*LOGIN*/

.login-page {
    display: flex;
    height: 100vh;
}

.login-form {
    max-width: 500px;
    margin: auto;
}